<div style="margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-primary" style="max-width: 20rem;">
                    <div class="card-header text-center">
                        <h6 style="color: red;">Total Confirmed</h6>
                    </div>
                    <div class="card-body text-primary">
                        <p #tConfirm class="card-text text-center" style="color: red;">
                        </p>
                    </div>
                </div>
            </div>
            <p>

            </p>
            <div class="col-md-4">
                <div class="card border-primary" style="max-width: 20rem;">
                    <div class="card-header text-center">
                        <h6 style="color: green;">Total Recovered</h6>
                    </div>
                    <div class="card-body text-secondary">
                        <p #tRecover class="card-text text-center" style="color: green;">
                        </p>
                    </div>
                </div>
            </div>
            <p>

            </p>
            <div class="col-md-4">
                <div class="card border-primary text-center" style="max-width: 20rem;">
                    <div class="card-header">
                        <h6 style="color: black;">Total Death</h6>
                    </div>
                    <div class="card-body text-secondary">
                        <p #tDeath class="card-text text-center" style="color: black;">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header">
            Bar Chart
        </div>
        <div class="card-body">
            <app-my-bar-chart></app-my-bar-chart>
        </div>
    </div>
</div>